body{
  background-image: url(./assets/question.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-title{
  color: white;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 50px;

}
.SurveyBtn{
  text-align: center;
  align-items: center;
  align-self: center;
  margin-left: 50%;
  margin-top: 200px;
  margin-bottom: 10px;
  padding-left: 200px;
  
  background-color: black;
  color: white;
  border: 1px solid black;
  outline: none;
  border-radius: 26px;
  text-decoration: none;
  padding: 20px;
}
.SurveyBtn:hover{
  background-color: orange;
  cursor: pointer;
  border: 1px solid orange;
}
.resultsBtn{
  margin-left: 50%;
  padding: 20px;
  padding-right: 40px;
  height: 60px;
  outline: none;
  border-radius: 26px;
  text-align: center;
  background-color: yellowgreen;
  border: 1px solid yellowgreen;
  text-decoration: none;
  color: white;
}
.resultsBtn:hover{
  background-color: blueviolet;
  border:1px solid blueviolet;
  cursor: pointer;
}
.pText{
  margin-Top: 10px;
  padding: 20px;
  width: 500px;
  margin-left: 28%;
  border-radius: 10px;
  outline: none;
  border: 1px solid lightgray;
}
.questions{
  font-family: 'Georgia, serif';
  text-align: center;
}
.selectionBtn{
  background-color: lightgray;
  width: 300px;
  height: 50px;
  margin: 20px;
  margin-left: 250px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: 'Georgia,serif';
  color: black;
  font-size: 20px;
  outline: none;
}
.selectionBtn:hover{
  background-color:#0b9dd6;
  color: white;
  cursor: pointer;
}
.SAbtn{
  margin-left: 200px;
  padding: 20px;
  width: 150px;
  background-color: white;
  font-family: 'Georgia,serif';
  border: 1px solid black;
  outline: none;
}
.Abtn{
  padding: 20px;
  width:150px;
  background-color: white;
  font-family: 'Georgia,serif';
  border: 1px solid black;
  outline: none;
}
.Abtn:hover,.SAbtn:hover{
  background-color: #0b9dd6;
  border: 1px solid #0b9dd6;
  color: white;
  cursor: pointer;
}
.submitBtn{
  margin-top: 100px;
  margin: 50px;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: 'Georgia, serif';
  outline: none;
  text-decoration: none;
  position:relative; 
  margin-top: 100px;
  width: 100px;
  
}
.submitBtnR{
  margin-top: 100px;
  margin: 50px;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-family: 'Georgia, serif';
  outline: none;
  text-decoration: none;
  position:relative; 
  margin-top: 1100px;
  width: 100px;
  
}
.submitBtn:hover{
  background-color: #0b9dd6;
  cursor: pointer;
  border: 1px solid #0b9dd6;
}
.outer-circle{
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  margin-left: 50px;
  
}
.inner-circle{
  background-color: white;
  width: 150px;
  height: 150px;
  margin-top: 5px;
  position: relative;
  margin-left: 23px;
  border-radius: 50%;
  text-align: center;
}
.age-value{
  margin-top: 25px;
  padding-top: 20px;
  margin-bottom: 5px;
  font-family: 'Georgia,serif';
  color: black;
  font-size: 50px;
}
.age-label{
  margin-top: 2px;
}
.outer-circle2{
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  margin-left: 300px;
  
}
.inner-circle2{
  background-color: white;
  width: 150px;
  height: 150px;
  margin-top: 5px;
  position: relative;
  margin-left: 23px;
  border-radius: 50%;
  text-align: center;
}
.outer-circle3{
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  margin-top: 280px;
  margin-left: 50px;
  
}
.outer-circle4{
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 50%;
  margin: 10px;
  position: absolute;
  margin-left: 300px;
  margin-top: 280px;
  
}

.numbers-category{
  float: left;
  position: absolute;
  width: 50%;
  
  height: 500px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: gray 2px 2px 2px 2px;
}
.percentage-category{
  margin: 5px;
  float:  right;
  width: 48%;
  height: 500px;
  border-radius: 10px;
  box-shadow: gray 2px 2px 2px 2px;
  
}
.average-category{
  position: absolute;
  padding-top: 550px;
  margin: 3px;
  height: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: gray 2px 2px 2px 2px;
}
.error{
  text-align: center;
  color: red;
  font-family: 'georgia, serif';
  font-weight: bold;
  font-size: 20px;
}
.background{
  position:absolute;
  width:100%;
  height:1700px;
}
.survey-container{
  margin-top: 100px;
}
.results-container{
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  
  .background{
    width: 100%;
    height: 2500px;

  }
  .pText{
    width: 150px;
    margin-left: 10%;
  }
  .questions{
    text-align: left;
    margin-left: 35px;
    font-size: 20px;
    text-align: left;
   
  }
  .selectionBtn{
    margin-left: 20%;
    width: 150px;
  }
  .SAbtn{
    width: 100px;
    margin-left: 10px;
    height: 90px;
  }
  .Abtn{
    width: 100px;
    height: 90px;
    margin-left: 10px;
  }
  .numbers-category{
  
    position: absolute;
    width: 95%;
    
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: gray 2px 2px 2px 2px;
  }
  .percentage-category{
    padding: 10px;
    margin: 5px;
    margin-top: 420px;
    width: 95%;
    height: 500px;
    border-radius: 20px;
    box-shadow: gray 2px 2px 2px 2px;
    
  }
  .outer-circle{
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    margin-left: 20px;
    
  }
  .inner-circle{
    background-color: white;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    position: relative;
    margin-left: 23px;
    border-radius: 50%;
    text-align: center;
  }
  .outer-circle2{
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    margin-left: 180px;
    
  }
  .inner-circle2{
    background-color: white;
    width: 100px;
    height: 100px;
    margin-top: 5px;
    position: relative;
    margin-left: 23px;
    border-radius: 50%;
    text-align: center;
  }
  .outer-circle3{
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    margin-top: 180px;
    margin-left: 20px;
    
  }
  .outer-circle4{
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    margin: 10px;
    position: absolute;
    margin-left: 180px;
    margin-top: 180px;
    
  }
  .age-value{
    margin-top: 25px;
    padding-top: 20px;
    margin-bottom: 5px;
    font-family: 'Georgia,serif';
    color: black;
    font-size: 20px;
  }
  .age-label{
   
    font-family: 'Georgia,serif';
    font-size: 20px;
  }
  .average-category{
    position: absolute;
    padding-top: 50px;
    margin: 3px;
    height: 500px;
    width: 95%;
    border-radius: 10px;
    box-shadow: gray 2px 2px 2px 2px;
  }
  .submitBtnR{
    width: 100px;
    margin-top: 600px
    
  }
  .submitBtn{
    width: 100px;
    margin-top: 50px
    
  }
  .survey-container{
    margin-top: 150px;
  }
  .results-container{
    margin-top: 100px;
    padding-bottom: 200px;
  }
}